#topheader1
{
    background-color: #001218;
    
}
#topheader1 a{
    color:#bf9f62;
    font-weight: 600;
    font-size: .89rem;
}
#topheader2
{
    background-color:#001218;
    position: fixed;   
    top:0; 
    width: 100%;
    z-index: 1000; 
    
}
.nav-link {
    font-size: 16px; 
}
body
{
    background: #15181a;
}
.container-fluid
{
    padding-left: 0;
    padding-right: 0;

    height:100%;
}
.top-footer
{
    background-color:#7b2928;
      
}
.top-footer a
{
color:white;
font-size: 14px;
font-family: Yu Gothic;

text-decoration-line: none;
}
.top-footer p
{
    color:white;
    font-size: 16px;
    font-family:Yu Gothic;
}
.top-footer h3
{
    color:#bf9f62;
    font-weight: 700;
}
.top-footer i
{
    color:silver;
      
}
.bottom-footer 
{
background-color:#001218;

}
.bottom-footer p
{
color:rgb(175, 184, 142);
text-align: center;
font-size: 16px;

}
.section-carousel
{
    
    background:radial-gradient(#7b2928,#001218);            
    height: 610px;
    padding-top: 0px;
    
}
.carousel-inner
{
    height: 520px;
 padding-right: 100px;
 padding-top: 85px;
}

.carousel-image {
    height: 300px; 
    width: 500px; 
       object-fit: cover;
      margin-left: auto; 
  
    
}
.carousel-caption {
    position: absolute; /* Position caption */
    left: 10%; /* Align caption to the right */
    bottom: 50%; /* Adjust vertical position */
    right: auto;
   
}

.top-section
{    
    padding-left: 0;
    padding-right: 0;
}

.top-section h3,h5,h2
{
    color:#bf9f62;
    font-family: Yu Gothic;
    font-weight: 700;
    text-align: center;
}
.top-section p
{
    color:white;
    font-family: Yu Gothic;
    font-size: 16px;
    text-align: left;    
}
.top-section a
{
    color:#ffffff;
    font-weight: 600;
    
}
#indextop-section2
{
    background:#001218;    
}
.qualities-img
{
    width:200px;
    height:200px;
    object-fit: cover
}
.card-img-top {
    height: 200px; /* Set a uniform height */
    object-fit: cover; /* Ensures the image scales and crops nicely */
  }
.middle-section h2,h3
{
font-family:Yu Gothic;
color:#bf9f62;
}
.middle-section h5
{
font-family:Yu Gothic;
color:#bf9f62;
}
.middle-section p
{
    font-family: Yu Gothic;   
color:white;

}

.carousel-caption h1
{
color:#bf9f62;
font-family: Bell MT;
}

.carousel-caption h3
{
color:#ffffff;
font-family:Bodoni MT;
}
@media (max-width: 576px) {
    .carousel-caption {
        position: static;        
        color: white;
        padding: 10px;
        text-align: center;
    }
}

.form-control
{
    border-radius: 50px;
}
.middlec1
{
    border-radius: 30px;
background-color:#001218 ;
}
.middlec2
{
    border-radius: 30px;
    background-color:#1b2224 ;
}
.middlec3
{
    border-radius: 30px;
    background-color:#001218 ;
}
#topsectiontexts
{
    
    border: 1px solid #bf9f62;
    border-radius: 30px;
    
    
}
.card-text {
    text-align: justify;
}
.card-img-top {
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-img-top {
    transform: translateY(-10px); /* Moves the image up when hovered */
  }
.diagonal-background {
   /* width: 100%;
    height: 400px; */
    background: url('../imgs/walnut.png'), linear-gradient(45deg, #7b2928 50%, #1b2224 50%);
    background-size: center,center;  /* Ensure both the image and gradient cover the full area */
    background-position: center, center;  /* Center both the image and gradient */
    background-repeat: no-repeat, no-repeat;  /* Prevent both the image and gradient from repeating */
}

/* If needed, specific styling for the div inside */
#div-diagonal {
    height: 100%; /* Ensure it covers the full height of the parent */
}
.indexproductcards
{
    width: 200px;  /* Set the width of the circle */
    height: 200px; /* Set the height to the same value as the width to make it a circle */
    
    display: flex;  /* Use flexbox to center the text */
    border-radius: 50%;
    align-items: center;
     /* Ensures text is centered */
   
}
.productcards
{
    background-color: #19272e;
}
.aboutcircles {
   
    width: 80px;  /* Set the width of the circle */
      height: 80px; /* Set the height to the same value as the width to make it a circle */
      
      color: #bf9f62;  /* Text color */
      font-size: 16px;  /* Adjust the font size as needed */
      display: flex;  /* Use flexbox to center the text */
      border-radius: 50%;
      justify-content: center;  /* Center horizontally */
      align-items: center;  /* Center vertically */
        /* Makes the div a circle */
      text-align: center;  /* Ensures text is centered */
    
  }
  
  .aboutrectangles  {
    width: 300px;  /* Width of the rectangle */
      height: 300px; /* Height of the rectangle */
      
      color: #ffffff;  /* Text color */
      font-size: 16px;  /* Adjust font size as needed */
      display: flex;  /* Use flexbox to center text */
      justify-content: center;  /* Center horizontally */
      align-items: center;  /* Center vertically */
      text-align: justify;  /* Center-aligns text */
      font-family: Yu Gothic;
  }
  
 
